<div class="my-3" *ngIf="!isConfirmed && !isError">

    <div *ngFor="let item of resume;let i = index" [attr.data-index]="i">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">{{ item.profile.name }}</h2>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><b>性別：</b>{{ (item.profile.gender == 0)?'男':'女' }}</li>
                <li class="list-group-item"><b>年齡：</b>{{ item.profile.age }}</li>
                <li class="list-group-item"><b>學校名稱：</b>{{ item.education.schoolName }}</li>
                <li class="list-group-item"><b>系別名稱：</b>{{ item.education.major }}</li>
                <li class="list-group-item"><b>就學狀態：</b>{{ item.education.status }}</li>
                <li class="list-group-item"><b>是否驗證：</b>{{ (item.education.isValid)?'已驗證':'尚未驗證' }}</li>
            </ul>
        </div>
        <br>
        <div class="text-right">
            <form (ngSubmit)="valid(i)">
                <button type="submit" class="btn btn-primary" [disabled]="isPending">確認資料</button>
            </form>
        </div>
        <br>
    </div>

</div>
<div class="my-3" *ngIf="isConfirmed">
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>編輯完成</strong>
        <button type="button" class="close" (click)="resetConfirmState()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>
<div class="my-3" *ngIf="isError">
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>發生錯誤</strong> {{ errorMessage }}
        <button type="button" class="close" (click)="resetErrorState()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>