<div class="container my-3">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">我的履歷</h1>
            <p class="lead">提供編輯個人基本資料</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="my-3" *ngIf="!isConfirmed && !isError">
        <form [formGroup]="deployForm" (ngSubmit)="deployResume(deployForm.value)" *ngIf="loaded && !created">
            <div class="form-group">
                <label for="name">姓名</label>
                <input type="text" class="form-control" id="name" placeholder="輸入姓名" [formControlName]="'name'">
            </div>
            <div class="form-group">
                <label for="gender">性別</label>
                <select class="form-control" id="gender" [formControlName]="'gender'">
                    <option [ngValue]="0">男</option>
                    <option [ngValue]="1">女</option>
                    <option [ngValue]="2">其他</option>
                </select>
            </div>
            <div class="form-group">
                <label for="age">年齡</label>
                <select multiple class="form-control" id="age" [formControlName]="'age'">
                    <option *ngFor="let age of ageRange" [ngValue]="age">{{ age }}</option>
                </select>
            </div>
            <div class="text-right">
                <button type="submit" class="btn btn-primary" [disabled]="deployForm.invalid || isPending">創建履歷</button>
            </div>
        </form>
        <form [formGroup]="profileForm" (ngSubmit)="updateProfile(profileForm.value)" *ngIf="loaded && created">
            <div class="form-group">
                <label for="name">姓名</label>
                <input type="text" class="form-control" id="name" placeholder="輸入姓名" [formControlName]="'name'"
                    disabled="disabled">
            </div>
            <div class="form-group">
                <label for="age">年齡</label>
                <input type="text" class="form-control" id="age" placeholder="輸入年齡" [formControlName]="'age'"
                    disabled="disabled">
            </div>
            <div class="form-group">
                <label for="contact">聯絡方式</label>
                <input type="text" class="form-control" id="contact" placeholder="輸入聯絡方式" [formControlName]="'contact'">
            </div>
            <div class="form-group">
                <label for="autobiography">自傳</label>
                <textarea class="form-control" id="autobiography" rows="5"
                    [formControlName]="'autobiography'"></textarea>
            </div>
            <label>專業技能</label>
            <div [formArrayName]="'skills'">
                <div class="form-group" *ngFor="let address of profileForm.controls['skills'].controls; let i=index"
                    [formGroupName]="i">
                    <label>類別</label>
                    <input type="text" class="form-control" placeholder="輸入類別" [formControlName]="'class'">
                    <label>技能名稱</label>
                    <input type="text" class="form-control" placeholder="輸入技能名稱" [formControlName]="'name'">
                    <label> </label>
                    <div class="text-right">
                        <button type="button" class="btn btn-danger btn-circle" (click)="removeSkillField(i)">-</button>
                    </div>
                    <hr>
                </div>
            </div>
            <button type="button" class="btn btn-info btn-circle" (click)="addSkillField()">+</button>
            <div class="text-right">
                <button type="submit" class="btn btn-primary" [disabled]="isPending">更新資料</button>
            </div>
        </form>
    </div>
    <div class="my-3" *ngIf="isConfirmed">
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>更新完成</strong>
            <button type="button" class="close" (click)="resetConfirmState()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    <div class="my-3" *ngIf="isError">
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>發生錯誤</strong> {{ errorMessage }}
            <button type="button" class="close" (click)="resetErrorState()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</div>